BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Allman
NamespaceIndentation: All
AccessModifierOffset: -4

PointerAlignment: Left
ReferenceAlignment: Left

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
InsertBraces: true

AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveBitFields: None
AlignConsecutiveMacros: None

SortIncludes: Never
